.navbar {
    background-color: white;
}

.navbar a {
    color: black;
}

.navbar-brand {
    font-family: 'Inconsolata', monospace;
}
.navbar a:hover {
    text-decoration: underline dotted;
    border-radius: 20%;
    color: black !important;
  }

.navbar-brand {
    padding: 20px;
}

.nav-item {
    padding: 10px;
}

.navbar-toggler-icon {
    color: white !important;
}