.navbar {
    background-color: #014421;
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    background-color: white;
    color: black !important;
  }

.navbar-brand {
    padding: 20px;
}

.nav-item {
    padding: 10px;
}